@charset "UTF-8";

/* # ************************************************************
* resrt
* **************************************************************/
html{
	font-size: 62.5%; 
	color: #333;
}

input[type="text"]{
	padding: 2px;
	font: menu;
	border: solid #aaa 1px;
	border-radius: 15px;
}

input[type="text"]:focus{
	outline: none;
}

img{
	max-width: 100%;
	vertical-align: bottom;
}

ul{
	list-style: none;
}

/* # ************************************************************
* title
* **************************************************************/
.titleArea{
	margin-top: 30px;
}
.titleArea__inr{
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 20px;
}
.titleArea__inr .tllvl1--boder{
	border-style: solid; 
	border-bottom: solid 1px;
	-webkit-border-image: -webkit-gradient(linear, left top, right top, color-stop(40%, #0089ff), color-stop(0%, #333)) 1/0 0 1px 0;
	-webkit-border-image: -webkit-linear-gradient(left, #0089ff 40%, #333 0%) 1/0 0 1px 0;
	-o-border-image: linear-gradient(to right, #0089ff 40%, #333 0%) 1/0 0 1px 0;
	border-image: -webkit-gradient(linear, left top, right top, color-stop(40%, #0089ff), color-stop(0%, #333)) 1/0 0 1px 0;
	border-image: linear-gradient(to right, #0089ff 40%, #333 0%) 1/0 0 1px 0;
}

.tllvl1,
.tllvl2,
.tllvl3,
.tllvl4{
	font-weight: bold; 
	line-height: 1.5;
}

.tllvl1{
	padding-bottom: 8px; 
	font-size: 2.4rem;
}

.tllvl2{
	font-size: 1.8rem;
}

.tllvl3{
	font-size: 1.6rem;
}

.tllvl4{
	font-size: 1.4rem;
}

.tll--btLine{
	padding-bottom: 0.5rem;
	border-bottom: solid 1px #aaa;
}

/* # ************************************************************
* section
* **************************************************************/
.section01{
	margin-top: 30px;
}

.section02{
	margin-top: 45px;
}

.section03{
	margin-top: 30px;
}

.section_inr{
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 calc( 20 / 375 * 100%);
}

@media (min-width: 641px){
	.titleArea{
		margin-top: 60px;
	}
	.titleArea__inr{
		padding: 0;
	}
	.section01{
		margin-top: 60px;
	}
	.section_inr{
		padding: 0;
	}
}
