
@charset "UTF-8";

/*テスト*/

/* # ************************************************************
* resrt
* **************************************************************/

html{
	color: #333;
	font-size: 62.5%;
}
input[type="text"]{
	padding: 2px;
	font: menu;
	border: solid #aaa 1px;
	border-radius: 15px;
}
input[type="text"]:focus{
	outline: none;
}
img{
	max-width: 100%;
	vertical-align: bottom;
}
ul{
	list-style: none;
}
