@charset "UTF-8";

/* # ************************************************************
* resrt
* **************************************************************/
html {
	font-size: 62.5%;
	color: #333;
}

input[type="text"] {
	padding: 2px;
	font: menu;
	border: solid #aaa 1px;
	border-radius: 15px;
}

input[type="text"]:focus {
	outline: none;
}

img {
	max-width: 100%;
	vertical-align: bottom;
}

ul {
	list-style: none;
}
