@charset "UTF-8";

/* # ************************************************************
* resrt
* **************************************************************/
html {
	font-size: 62.5%;
	color: #333;
}

input[type="text"] {
	padding: 2px;
	font: menu;
	border: solid #aaa 1px;
	border-radius: 15px;
}

input[type="text"]:focus {
	outline: none;
}

img {
	max-width: 100%;
	vertical-align: bottom;
}

ul {
	list-style: none;
}

/* # ************************************************************
* title
* **************************************************************/
.tllvl1,
.tllvl2,
.tllvl3,
.tllvl4 {
	font-weight: bold;
	line-height: 1.5;
}

.tllvl1 {
	font-size: 2.2rem;
}

.tllvl2 {
	font-size: 1.8rem;
}

.tllvl3 {
	font-size: 1.6rem;
}

.tllvl4 {
	font-size: 1.4rem;
}

.tll--btLine {
	padding-bottom: 0.5rem;
	border-bottom: solid 1px #aaa;
}
