@charset "UTF-8";

/* # ************************************************************
* reset
* **************************************************************/

small{
	font-size: 100%;
}

/* # ************************************************************
* Layout
* **************************************************************/

/* scroll */
.scroll_block{
	width: 100%;
	height: 100vh;
}
.pagination{
	padding: 20px;
	position: fixed;
	right: 0;
	top: 50%;
}
.pagination li{
	list-style-type: none;
	margin-bottom: 20px;
}
.pagination a{
	display: block;
	height: 10px;
	border: 1px solid #000;
	width: 10px;
}
.pagination a.active{
	background: #000;
}

.flexContents{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	.tllvl2{
		font-size: 4.2rem;
	}
}

/* about */
#about{
	background: #fdd;
}

/* service */
#service{
	background: #ddf;
}

/* access*/
#access{
	background: #dfd;
}

/* contact */
#contact{
	background: #dff;
}

/* # ************************************************************
* header
* **************************************************************/

.header{
	padding: 25px 15px;
	&_inr{
		max-width: 1024px;
		margin: 0 auto;
	}
}

/* # ************************************************************
* footer
* **************************************************************/

.footer{
	padding: 40px 15px;
	font-size: 1.6rem;
	color: #fff;
	background: #333;
	&_inr{
		max-width: 1024px;
		margin: 0 auto;
	}
}