@charset "UTF-8";

/* # ************************************************************
* title
* **************************************************************/

.titleArea{
	margin-top: 60px;
	&__inr{
		max-width: 1024px;
		margin: 0 auto;
		.tllvl1{
			font-size: 2.4rem;
			padding-bottom: 8px;
		}
		.tllvl1--boder{
			border-bottom: solid 1px;
			border-image: linear-gradient(to right, #0089ff 40%, #333 0%);
			border-image-slice: 1;
		}
	}
}

/* # ************************************************************
* section
* **************************************************************/

.section01{
	margin-top: 45px;
}

.section_inr{
	max-width: 1024px;
	margin: 0 auto;
}

/* txtBox */


.txtBox{
	margin-top: 25px;
	font-size: 1.4rem;
	line-height: 1.2;
}

.txtBox__txtList{
	margin-top: -15px;
	&::after{
		content: "";
		display: block;
		clear: both;
	}
	>li{
		float: left;
		width: 300px;
		margin-left: 20px;
		margin-top: 25px;
		padding: 15px;
		border: solid 1px #333;
		>p{
			margin-top: 1em;
			&:first-child{
				margin-top: 0;
			}
		}
	}
}

@media (max-width: 768px) {
	.txtBox__txtList{
		margin: 0 auto;
		padding: 0 20px;
		>li{
			width: 100%;
			margin: 25px 0 0;
		}
	}
}